<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">

    <style>

    </style>
</head>
<body>
    <div class="container">
      <h2>Login</h2>
      <form>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email">
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Register">
      </form>
    </div>
</body>
</html>